@include respond-to("medium") {
  body {
    height: 0;
  }
  .logo {
    margin-top: 6rem;
  }

  .calculator {
    display: flex;
    justify-content: center;
    height: 70vh;
    align-items: center;

    &_box {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5rem;
      width: 65rem;
      padding: 2rem;
    }

    &_right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &_wrapper {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .--main-tip {
    font-size: 3rem;
    margin: 0;
  }
}
